@supports (display: grid) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 0;
        padding: 20px;
    }
}

.hours-table {
    display: block;
    justify-self: center;
    // padding: 25px;
    empty-cells: show;

    .day-cell {
        padding: 10px 0;
    }

    .blank-cell {
        padding: 10px 40px;
    }

    .hours-cell {
        padding: 10px 0;
    }
}

.action-item {
    margin-top: 20px;
}

.contact-text {
    text-align: center;

    .contact-link {
        color: blue;
        text-decoration: underline;
    }
}

/* ---------------------------------- Media Queries ---------------------------------- */
@media all and (max-width: 1000px) {
    .contact-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
